.addRecipeMain {
    width: 900px;
    margin: 2rem auto;
}

.addRecipeMain .addRecipeHeader {
    display: flex;
}

.addRecipeMain .addRecipeHeader h2 {
    flex: 1;
}

.addRecipeMain .addRecipeHeader div {
    align-self: center;
}

.addRecipeMain label {
    display: block;
}

.addRecipeMain .addRecipeForm {
    margin-top: 1.75rem;
}

.addRecipeMain .addRecipeForm input {
    padding: 10px 14px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.addRecipeMain .addRecipeForm .groupTitle select {
    border: 1px solid var(--mint-cream);
    border-radius: 8px;
    padding: 0.75rem 0rem 0.75rem 1.2rem;
    box-sizing: border-box;
    width: 50%;
    font-size: 1.1rem;
}


/* supposed to select input fields, except for the ones
with the plus icon */
.addRecipeMain .fieldPart1 input{
    width: 100%;
}

.addRecipeMain .addRecipeForm>div>input,
.addRecipeMain .formElements,
.addRecipeMain .addRecipeForm select {
    margin-top: 0.75rem;
}

.addRecipeMain .addRecipeForm input::placeholder {
    font-size: 1.2rem;
}

.addRecipeMain .formElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addRecipeMain .formElements>div:first-child {
    width: 100%;
}

.addRecipeMain .formElements>div:first-child input {
    width: 99%;
}

.addRecipeMain .icon {
    border: 1px solid var(--mint-cream);
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    color:var(--outer-space);
}

.addRecipeMain .addRecipeForm>div {
    margin-top: 2rem;
    /* width: 100%; */
}