.groupPageMainContainer {
    display: flex;
    max-width: 1700px;
    margin: 3rem auto 0 auto;
}

.groupPageMainContainer .recipesSection {
    flex-grow: 1;
}

.groupPageMainContainer .groupContainerWrapper {
    min-width: 340px;
}

.groupPageMainContainer .recipeSectionTop {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.groupPageMainContainer .recipesSection h2 {
    margin: 0 0 0 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.groupPageMainContainer .addRecipeContent,
.groupPageMainContainer .cartButtonContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* icon iin Add Recipe Button */
.groupPageMainContainer .addRecIcon {
    margin-right: 10px;
    font-size: 1.5rem;
}

.groupPageMainContainer .shoppingIcon {
    margin-right: 10px;
}

.groupPageMainContainer .buttonsContainer>div {
    display: inline;
}

.groupPageMainContainer .buttonsContainer div:first-child {
    margin-right: 10px;
}

.groupPageMainContainer .recipePreviewsSection{
    display:flex;
    /* width: 100%; */
    gap: 20px;
    /* justify-content: space-between; */
    margin-top:1rem;
    margin-left: 10px;
    flex-wrap: wrap;
}