.groupPageMainContainer {
    display: flex;
    width: 90%;
    margin: 3rem auto 0 auto;
}

.groupPageMainContainer .groupContainerWrapper {
    flex-grow: 1;
}

.groupPageMainContainer .recipesSection {
    flex-grow: 5;
    display:flex;
}

.groupPageMainContainer .addRecipeContent {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* icon iin Add Recipe Button */
.groupPageMainContainer .addRecIcon {
    margin-right: 10px;
    font-size:1.5rem;
}

.groupPageButtons{
    display:flex;
}
