.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeContainer>div {
    flex-grow: 1
}

.homeContainer>div:first-child {
    border-bottom: 2px solid var(--french-gray);
}

.homeContainer .mainSection {
    background-color: var(--seasalt);
    /* need to figure out the height */
    min-height: 100vh;
}