.groupContainerMain {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--french-gray);
    border-radius: 8px;
    /* width: 450px; */
    width: 100%;
    background-color: white;
    min-height: 100%;
    /* min-height: calc(100% + 50px); */
}

.groupContainerMain>div {
    box-sizing: border-box;
    width: 100%;
}

.groupContainerMain>div:nth-child(1) {
    padding: 1rem 1rem 0 2rem;
}

.groupContainerMain>div:nth-child(2) {
    padding: 1rem;
}

.groupContainerMain .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.groupContainerMain .top .plusSymbol {
    font-size: 2rem;
}

.groupContainerMain .top > h3 {
    font-size:1.2rem;
    font-weight: 600;
}

.groupContainerMain .groups {
    display: flex;
    flex-direction: column;
}


.groupContainerMain .groups > div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    /* margin: 0 auto; */
}

.groupContainerMain .groups .groupName {
    font-size: 1.1rem;
    font-weight: 500;
}

.groupContainerMain .groups p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color:var(--slate-gray)
}

.groupContainerMain .groupName {
    display:flex;
    column-gap: 10px;
    align-items: center;
}

.groupContainerMain .groups>div,
.groupContainerMain .plusSymbol {
    cursor: pointer;
}

.groupContainerMain .groups > div {
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
}

.groupContainerMain .groups>div:hover {
    background-color: var(--mint-cream);
    border-radius: 6px;
}

.groupContainerMain .singleGroup input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--french-gray);
    border-radius: 6px;
    font-size:1rem;
}
