.mainNavBarContainer {
    display: flex;
    margin: 0 auto;
    max-width: 90%; 
}

.mainNavBarContainer>div,
.mainNavBarContainer>.navBar {
    flex: 1;
    display: flex;
}

.mainNavBarContainer .iconContainer{
    max-width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.mainNavBarContainer>div {
    align-items: center;
}

.mainNavBarContainer>.navBar {
    justify-content: flex-end;
    column-gap: 1rem;
    /* padding-right: 6rem; */
}

.mainNavBarContainer .icon {
    font-size: 3em;
}

.mainNavBarContainer .expandableIcon {
    font-size:3rem;
    color:black;
}

.mainNavBarContainer .icon,
.mainNavBarContainer .iconText,
.mainNavBarContainer .navBar p {
    cursor: pointer;
}

.mainNavBarContainer p,
.mainNavBarContainer .iconText {
    font-size: 1.5rem;
    margin: 0.5em;
}

.mainNavBarContainer .iconText {
    font-weight: bold;
}

.mainNavBarContainer .navBar p {
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
}

.mainNavBarContainer .navBar p:hover {
    background-color: var(--mint-cream);
}

/* Will indicate current active component */
.mainNavBarContainer .navBar .selected {
    background-color: var(--mint-cream);
}

.mainNavBarContainer .accountIcons {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.mainNavBarContainer p:nth-of-type(3) {
    /* margin-right: 5rem; */
}