:root {
    --pastel-pink: #efafa9;
    --spanish-pink: #f2bfba;
    --grey: #808080;
    --white: #ffffff;
    --vermillion: #db4c40;
    --melon: #EFAFA9;

}

.appCSS {
    min-height: 100vh;
}